* {
    font-family: Calibri;
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* blob 1 */
.blob1 {
    position: absolute;
    z-index: -1;
    left: 0%;
    top: 0%;
}

/* blob 2 */
.blob2 {
    position: absolute;
    z-index: -1;
    right: 0%;
    bottom: 20%;
}

/* bottom shape */
.bottom_shape {
    position: absolute;
    z-index: -1;
    right: 0%;
    bottom: 0%;
}

/* Navigation bar */
.nav-container {
    background: rgba(167, 167, 167, 0.14);
    border: 2px solid rgba(255, 255, 255, 0.14);
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.25);
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* logo style */
.logo {
    display: flex;
    margin-left: 1rem;
}

/* navigation items */
.nav-items {
    display: flex;
    gap: 0.4rem;
}


/* login and sign button */
.btn_login,
.btn_signup {
    color: #4F4F4F;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    width: 136px;
    height: 42px;
    border: 2px solid #52A7CC;
    background: #ffffff;
    padding: 2px 30px;

}

/* login button */
.btn_login {
    color: #4F4F4F;
    background: #ffffff;
}

/* sign up button */
.btn_signup {
    color: #ffffff;
    background: #52A7CC;
    margin-right: 2rem;
}

/* navigation items if hover */
.nav-items a:hover {
    opacity: 0.7;
}

/* Header styling*/
.header-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 9rem;
    margin-top: 1.5rem;
    gap: 9rem;
}

/* heading */
.hero-content h1 {
    font-weight: 600;
    font-size: 50px;
    line-height: 69px;
    color: #000000;
    margin-bottom: 24px;
    width: 512px;
}

/* paragraph */
.hero-content p {
    font-weight: 300;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    width: 540px;
    margin-bottom: 30px;
}

/* Get started button */
.hero-content a {
    font-weight: 550;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    background: linear-gradient(90deg, #52A7CC 0%, #EE8CAF 106.42%);
    box-shadow: 6.11952px 6.11952px 18.3586px rgba(0, 0, 0, 0.25);
    border-radius: 27.5378px;
    padding: 10px 35px;
    display: inline-block;
    transition: 500ms;

}

/* Get started button if hover */
.hero-content a:hover {
    opacity: 0.7;
    transform: scale(0.9, 0.9);
}

/* responsive image */
.responsive {
    width: 100%;
    height: auto;
}