* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: Calibri;
}


.blob1 {
    position: absolute;
    z-index: -1;
    left: 0%;
    top: 0%;
}

.blob2 {
    position: absolute;
    z-index: -1;
    right: 0%;
    bottom: 20%;
}

.bottom_shape {
    position: absolute;
    z-index: -1;
    right: 0%;
    bottom: 0%;
}

/* Navigation bar */
.nav-container {
    background: rgba(167, 167, 167, 0.14);
    border: 2px solid rgba(255, 255, 255, 0.14);
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.25);
    height: 72px;
}

.wrapper {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    height: 72px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    justify-content: flex-start;
    transform: translate(-150px);
}

.home {
    justify-content: flex-end;
    transform: translate(1000px);
}

.home :hover {
    opacity: 0.7;
}

.content {
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 370px;
    transform: translate(-50%, -50%);
}

.content header {
    font-weight: 700;
    font-size: 45px;
    line-height: 73px;
    color: #52A7CC;
    margin-bottom: 35px;
}

.username {
    position: relative;
    width: 451px;
    height: 40px;
    display: flex;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 3px;
}